body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1f1f1f;
    color: white;
    padding: 1rem 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 1rem;
    box-sizing: border-box;
    width: 100%;
}

nav .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
}

nav ul li {
    margin: 0 1.5rem;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 0;
}

nav ul li .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #1f1f1f;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    z-index: 1; /* Ensure the submenu appears above other content */
}

nav ul li .submenu li {
    margin: 0;
}

nav ul li .submenu li a {
    display: block;
    padding: 0.5rem 1rem;
}

nav ul li .submenu.show {
    display: block;
}

nav .menu-icon {
    display: none;
    //font-size: 2rem;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

main {
    padding: 2rem;
    padding-bottom: 5rem;
}

section {
    margin-bottom: 2rem;
}

.hidden {
    display: none; /* Hide sections by default */
}

section:not(.hidden) {
    display: block; /* Show section when the hidden class is removed */
}

h1 {
    color: #ffffff;
}

p {
    line-height: 1.6;
}

code {
    background-color: #2e2e2e; /* Gray background */
    color: #ffffff; /* White text color for contrast */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    padding: 0.2rem 0.4rem; /* Add some padding for readability */
    border-radius: 4px; /* Slightly rounded corners */
    display: inline-block; /* Ensure the background and padding apply correctly */
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 0.1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.centered-image {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.image-avatar {
    display: block;
    margin: 0 auto;
    width: 30px;
}

.header-logo {
    height: 30px; /* Adjust size as needed */
    width: auto;
    margin-left: auto;
    padding-right: 20px;
}

@media (max-width: 768px) {
    header {
        padding: 0; /* Remove extra padding to keep the header size consistent */
    }

    nav {
        flex-direction: column;
        padding: 0; /* Remove left padding in mobile view */
    }

    nav .menu-icon {
        display: block;
        position: relative; /* Make menu icon part of the normal document flow */
        left: auto; /* Reset left position */
        top: auto; /* Reset top position */
        transform: none; /* Reset transform */
        margin: 1rem; /* Add margin for spacing */
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
        text-align: left;
        padding-left: 20pt; /* Reset padding in mobile view */
        margin: 0; /* Reset margin in mobile view */
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li .submenu {
        position: static;
    }

    nav ul li .submenu li {
        padding-left: 1rem;
    }

    .header-logo {
        height: 40px; /* Adjust size as needed */
        width: auto;
        margin-left: auto;
    }
}